        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__logo logo">
                    <div class="logo__image">
                        <img
                            src="../../static/pictures/logo_color.svg"
                            alt="Вернуться на главную страницу" />
                    </div>
                </div>
                <div class="site-map">
                    <div class="site-map__title">Карта сайта</div>
                    <ul class = "footer-menu menu-list">
                        <li><a href="/home" title = "Переход на главную страницу" class="footer_menu_link menu__link">Главная</a></li>
                        <li><nav class = "footer_menu_link menu__link">
                            Наша конюшня
                        </nav>
                            <ul class="footer__sub-menu menu-list__sub-menu">
                                <li>
                                    <a href="/carehorse" title="Переход на страницу об уходе за лошадьми" class="menu-list__link menu-list__link_1">Уход за лошадьми </a>
                                </li>
                                <li>
                                    <a href="/horses" title="Переход на страницу с список лощадей" class="menu-list__link menu-list__link_2">Лошади</a>
                                    <ul class="footer-sub-menu__horses">
                                        <li><a href="/horses/Мальчик" title="Переход на страницу с информацией о Мальчике" class="sub-menu-horses__link">Мальчик</a></li>
                                        <li><a href="/horses/Пепел" title="Переход на страницу с информацией о Пепле" class="sub-menu-horses__link">Пепел</a></li>
                                        <li><a href="/horses/Кортик" title="Переход на страницу с информацией о Кортике" class="sub-menu-horses__link">Кортик</a></li>
                                        <li><a href="/horses/ЛаВинчи" title="Переход на страницу с информацией о Ла-Винчи" class="sub-menu-horses__link">Ла-Винчи</a></li>
                                        <li><a href="/horses/Женя" title="Переход на страницу с информацией о Жене" class="sub-menu-horses__link">Женя</a></li>
                                        <li><a href="/horses/Стрелка" title="Переход на страницу с информацией о Стрелке" class="sub-menu-horses__link">Стрелка</a></li>
                                        <li><a href="/horses/Флибустьер" title="Переход на страницу с информацией о Флибустьере" class="sub-menu-horses__link">Флибустьер</a></li>
                                        <li><a href="/horses/Темза" title="Переход на страницу с информацией о Темзе" class="sub-menu-horses__link">Темза</a></li>
                                    </ul>
                                 </li>
                                <li>
                                     <a href="/news" title="Переход на страницу с новостями"class="menu-list__link menu-list__link_3">Новости</a>
                                </li>
                                <li>
                                     <a href="/photogallery" title="Переход на страницу с фотогалереей" class="menu-list__link menu-list__link_4">Фотогалерея</a>
                                </li>
                            </ul>
                        </li>
                       <li><a href="/price" title="Переход на страницу с ценами" class="footer_menu_link menu__link">Цены</a>
                            <ul class="footer-price__menu">
                                <li><a href="/price/sales" title="Переход на страницу с акциями" class="price-menu__link">Акции</a></li>
                                <li><a href="/price/certificates" title="Переход на страницу с сертификатами" class="price-menu__link">Подарочные сертификаты</a></li>
                            </ul>
                        </li>
                       <li><a href="/about" title="Переход на страницу с информацией о компании" class="footer_menu_link menu__link">О нас</a></li>
                   </ul>
                </div>
                <div class="footer__info">
                    <div class="address">Железнодорожная ул., 4/1, микрорайон Хлебниково, Долгопрудный</div>
                    <div class="work-time">вт-вс 10:00 - 20:00</div>
                    <div class="phone-number">+7 (915) 355-86-26</div>
                </div>
                <div class="footer__contacts contacts">
                    <a href="https://vk.com/kp_hlebbnikovo" title="Ссылка на группу ВК" target="_blank" class="vkontakte"><img src="../../static/pictures/vk.svg" alt=""></a>
                    <a href="https://t.me/kp_hlebnikovo" title="Ссылка на группу Телеграм" target="_blank" class="telegram"><img src="../../static/pictures/telegram.svg" alt=""></a>
                    <a href="https://api.whatsapp.com/send?phone=79153558626" title="Ссылка на WhatsApp" target="_blank" class="whatsapp"><img src="../../static/pictures/whatsapp.svg" alt=""></a>
                </div>
            </div>
        </footer>
        <div class="btn-up btn-up_hide"></div>
    </div>
    <script src="../../static/scripts/script.js"></script>
</body>
</html>