{% extends 'layouts/base.html' %}

{% block title %}Уход за лошадьми{% endblock %}

{% block content %}
        <main class="page">
                <div class="care-page__title title">Уход за лошадьми</div>
                <div class="care-first-block">
                    <div class="care-first-block__container container">
                        <div class="care-horse__content__nchet block-content">
                            <div class="care-page__block care-block__image horse-photo"><img src="../static/pictures/РыбаУход1.jpeg" alt=""></div>
                            <div class="care-first-block__text care-page-text block-text">
                                Мы обращаем внимание на кормление и питание.
                                В нашем клубе используются только высококачественные корма, которые подобраны индивидуально для каждого животного,
                                учитывая его возраст, вес, особенности здоровья и нагрузки.
                                Лошади получежуают свежую траву, разнообразные овощи и фрукты, гранулы и сено, а также лучший корм для лошадей - <a class = "ad__link" href="https://korma-anilyn.ru/">Анилин</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="care-second-block">
                    <div class="care-second-block__container container">
                        <div class="care-horse__content__chet block-content">
                            <div class="care-page__block care-block__image horse-photo"><img src="../static/pictures/first-block.png" alt=""></div>
                            <div class="care-first-block__text care-page-text block-text">
                                Также, важной составляющей ухода за лошадьми является физическая нагрузка.
                                В конном клубе Хлебниково организован тренажерный зал для лошадей, где они могут выполнять специальные упражнения для поддержания мышечного тонуса и развития ловкости.
                                Также, на лошадей регулярно садятся наездники для участия в конных тренировках и соревнованиях.
                            </div>
                        </div>
                    </div>
                </div>
        </main>
{% endblock %}