{% extends 'layouts/base.html' %}

{% block title %}Лошади{% endblock %}

{% block content %}
        <main class="page">
            <div class="main-block">
                <div class="main-block__container container">
                    <div class="main-block__horses">
                        <div class="main-block-horses__1 block__horses">
                            <a href="/horses/Мальчик" class="block-horses-1__1 block">
                                <div class="block-horses-1-1__img horse-photo"><img src="../static/pictures/лошади/malchik.jpg" alt="Мальчик"></div>
                                <div class="block-horses-1-1__title horse-title">Мальчик (Арабская чистокровная)</div>
                            </a>
                            <a href="/horses/Пепел" class="block-horses-1__2 block">
                                <div class="block-horses-1-2__img horse-photo"><img src="../static/pictures/Лошади/pepel.jpg" alt="Пепел"></div>
                                <div class="block-horses-1-2__title horse-title">Пепел (Липицианская)</div>
                            </a>
                        </div>
                        <div class="main-block-horses__2 block__horses">
                            <a href="/horses/Кортик" class="block-horses-2__1 block">
                                <div class="block-horses-2-1__img horse-photo"><img src="../static/pictures/Лошади/kortik.jpeg" alt="Кортик"></div>
                                <div class="block-horses-2-1__title horse-title">Кортик (Карачаевская)</div>
                            </a>
                            <a href="/horses/ЛаВинчи" class="block-horses-2__2 block">
                                <div class="block-horses-2-2__img horse-photo"><img src="../static/pictures/Лошади/la-vinchi.jpg" alt="Ла-Винчи"></div>
                                <div class="block-horses-2-2__title horse-title">Ла-Винчи (Чистокровная верховая)</div>
                            </a>
                        </div>
                        <div class="main-block-horses__3 block__horses">
                            <a href="/horses/Женя" class="block-horses-3__1 block">
                                <div class="block-horses-3-1__img horse-photo"><img src="../static/pictures/Лошади/genya.jpg" alt="Женя"></div>
                                <div class="block-horses-3-1__title horse-title">Женя (Кладрубская)</div>
                            </a>
                            <a href="/horses/Стрелка" class="block-horses-3__2 block">
                                <div class="block-horses-3-2__img horse-photo"><img src="../static/pictures/Лошади/strelka.jpg" alt="Стрелка"></div>
                                <div class="block-horses-3-2__title horse-title">Стрелка (Липицианская)</div>
                            </a>
                        </div>
                        <div class="main-block-horses__4 block__horses">
                            <a href="/horses/Флибустьер" class="block-horses-4__1 block">
                                <div class="block-horses-4-1__img horse-photo"><img src="../static/pictures/Лошади/flibust.jpg" alt="Флибустьер"></div>
                                <div class="block-horses-4-1__title horse-title">Флибустьер (Французский рысак)</div>
                            </a>
                            <a href="/horses/Темза" class="block-horses-4__2 block">
                                <div class="block-horses-4-2__img horse-photo"><img src="../static/pictures/Лошади/temza.jpeg" alt="Темза"></div>
                                <div class="block-horses-4-2__title horse-title">Темза (Донская)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}